
body {
  background-image: url("../images/CoffeApp.jpg");
  background-size: 100%;
  background-position: 50% 45%;

}
  h1 {
  color: white;
  font-family: 'Kaushan Script', cursive;
  font-size: 3rem;
  }
#start{
  font-size: 1.5rem;
  border: 1px solid #000;
  padding: 10px 15px;
  background-color: #70461a;
  color: #fff;
  border-radius:15px;
  text-decoration: none;
  margin-bottom: 1rem

}
#start:active {
  background-color: #935c24;
  position: relative;
  top: 1px;
 right: 1px;
}

#root {
  padding: 20px;
  background-color: rgba(200,200,200,0.5);
  font-size: 2rem;

}

label {
  font-size: 3rem
}

form {
  text-align: left;
  width: 50%;
  margin: auto;
}

.center {
  margin-left: 25%
}

.button {
  text-align: center;
  margin: 30px;
}

#result {
  margin: 50px;
  margin-top: 50px;
}
